@media screen and (min-width:700px) {
  button,
  nav#slide {
    visibility: hidden;
  }
}

@media screen and (max-width:700px) {
  
  body {
    background-size: auto auto;
  }
  
  section.whatisit {
    background-size: auto auto;
  }
  
  section.download {
    background-size: auto auto;
  }
  
  nav#slide {
    width: 100vw;
    height: 60vh;
  }
  
  nav#slide.disable {
    opacity: 0;
    transform: translateY(-100%);
    transition: all .5s ease-in-out;
  }
  
  nav#slide.enable {
    opacity: 1;
    transform: translateY(0);
    transition: all .5s ease-in-out;
  }
  
  button,
  nav#slide {
    visibility: visible;
  }

  nav.menu {
    visibility: hidden;
  }

  section.news {
    height: 140vh;
  }

  div.container {
    display: block;
  }

}
