@media screen and (max-width:700px) {
  
  body {
    background-size: auto auto;
  }
  
  section.whatisit {
    background-size: auto auto;
  }
  
  section.download {
    background-size: auto auto;
  }
  
  nav {
    width: 100vw;
    height: 60vh;
  }
  
  nav.disable {
    opacity: 0;
    transform: translateY(-100%);
    transition: all .5s ease-in-out;
  }
  
  nav.enable {
    opacity: 1;
    transform: translateY(0);
    transition: all .5s ease-in-out;
  }

  section.news {
    height: 140vh;
  }

  div.container {
    display: block;
  }

}
