*, *::before, *::after {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../resource/background-main.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

div#loader {
    position: fixed;
    z-index: 99;
    height: 50vh;
    width: 50vh;
    top: 50%;
    left: 50%;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #101010;
    transform: translate(-50%, -50%);
}

div.sous {
    position: fixed;
    z-index: 9998;
    height: 50vh;
    width: 50vh;
    top: 50%;
    left: 50%;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2d2d2d;
}

.sous#a {
    z-index: 9997;
    transform: translate(-52%, -52%);
}

.sous#b {
    z-index: 9996;
    transform: translate(-48%, -48%);
}

div#loader div#circle {
    position: fixed;
    z-index: 999;
    height: 40vh;
    width: 40vh;
    border-top: 10px solid darkred;
    border-radius: 50%;
    background-color: #101010;
    animation: circle 1s infinite ease-in-out;
}

nav {
    z-index: 999;
    height: 100vh;
    width: 60vw;
    position: fixed;
    background: #000000b4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

nav.enable {
    opacity: 1;
    transform: translateX(0);
    transition: .5s all ease-in-out;
}

nav.disable {
    opacity: 0;
    transform: translateX(-100%);
    transition: .5s all ease-in-out;
}

nav a {
    margin-bottom: 10px;
    text-decoration: none;
}

nav a::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform: scale(0);
}

nav a:hover::after {
    transform: scale(1);
    transition: .3s all ease-in-out;
}

button {
    z-index: 9999;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: none;
    border: 1px solid #fff;
    background: #000;
    height: 50px;
    width: 50px;
    position: fixed;
    font-size: 50px;
    border-radius: 50%;
}

button:active {
    background: #fff;
    color: #000;
    border: 1px solid #000;
    transition: .2s all ease-in-out;
}

button.enable {
    transform: rotate(-45deg);
    transition: .5s all ease-in-out;
}

button.disable {
    transform: rotate(0);
    transition: .5s all ease-in-out;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section li {
    align-items: left;
    text-align: left;
}

section.whatisit {
    height: 120vh;
    background-image: url('../resource/background-info.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

section.download {
    background-image: url('../resource/background-download.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

section.ref {
    height: 10vh;
    background: #fff;
    color: #000;
}

img {
    animation-name: spawn;
    animation-duration: 1s;
}

h1.title {
    font-size: 50px;
    cursor: pointer;
    animation-name: spawn;
    animation-duration: 1s;
}

h1.title::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform: scale(0);
}

h1.title:hover::after {
    transform: scale(1);
    transition: .3s all ease-in-out;
}

p {
    animation-name: spawnTo;
    animation-duration: 1s;
}

@keyframes circle {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spawn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spawnTo {
    from {
        transform: translateY(-200%);
    }
    to {
        transform: translateY(0);
    }
}
