
#
#  _____  _____ _____ _____ _   _ __  __
# | ___ \|  _  | ___ \_   _| | | |  \/  |
# | |_/ /| | | | |_/ / | | | | | | .  . |
# | ___ \| | | |    /  | | | | | | |\/| |
# | |_/ /\ \_/ / |\ \ _| |_| |_| | |  | |
# \____/  \___/\_| \_|\___/ \___/\_|  |_/
#
# Antoine LANDRIEUX (MIT License) <.gitignore>
# <https://github.com/AntoineLandrieux/BORIUM/>
#

# IDE

.idea/
.vscode/

# TEMP

# Not implemented yet
fs.*

tmp.*

bin/
lib/
min/
tmp/

# BINARY

*.a
*.o
*.out
*.bin
*.exe
*.dll
*.res
*.iso
*.img
*.elf